<div class="container">
 <h4 class="title-sauna-list">サウナ施設一覧(全<%= @sauna_facilities.count %>件）</h4>
</div>
<% @sauna_facilities.each do |sauna_facility| %>
 <div class="container">
   <div class="sauna-main">
    <div class="row">
      <div class="col-md-5">
        <div class="sauna-image">
          <%= attachment_image_tag sauna_facility, :image, format: 'jpeg', fallback: "no_image.png", size: "300x230" %>
        </div>
      </div>
      <div class="col-md-7">
        <div class="sauna-overview">
         <div class="sauna-name">
          <%= link_to sauna_facility_path(sauna_facility.id) do %>
           <%= sauna_facility.name %>
          <% end %>
         </div>
         <div class="sauna-access">
           <%= sauna_facility.access %>
         </div>
         <div class="sauna-introduction">
           <%= simple_format(sauna_facility.introduction) %>
         </div>
        </div>
      </div>
    </div>
  </div>
 </div>
</div>
<% end %>
<div class="sauna-paginate">
 <%= paginate @sauna_facilities %>
</div>