<div class="container">
 <h4 class="title-center">プロフィール編集</h4>
  <%= form_with model: @user, local:true do |f| %>

 <div class="row justify-content-center">
  <div class="col-md-7">
 <table class="table">
  <tr>
   <th><%= f.label :プロフィール画像　%></th>
   <td><%= f.attachment_field :profile_image %></td>
  </tr>
  <tr>
   <th><%= f.label :ユーザー名　%></th>
   <td><%= f.text_field :name, size: "40" %></td>
  </tr>
  <tr>
   <th><%= f.label :自己紹介（最大200文字） %></th>
   <td><%= f.text_area :introduction, rows: "6", cols: "40" %></td>
  </tr>
 </table>

<div class="text-center">
<%= f.submit '変更を保存', class: 'btn btn-success w-50' %>
</div>

 </div>
 </div>
 <% end %>
</div>