<% if flash[:success] %>
  <div class="alert alert-success">
   <%= flash[:success]%>
  </div>
<% end %>

<div class="container">
  <h4 class="title-center">ユーザー一覧</h4>
  <div class="row justify-content-center">
    <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th>ユーザー名</th>
          <th>自己紹介文</th>
          <th>投稿数</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td width="300"><%= attachment_image_tag user, :profile_image, format: 'jpeg', fallback: "no_image.png", size: "70x70", class: "icon" %>
          　　<%=link_to user.name,user_path(user.id) %></td>
          <td width="600"><%=user.introduction %></td>
          <td width=" 140"></td>
          <td><%= render "relationships/follow_button", user: user, class: "follow-button" %></td>
        </tr>
        <% end %>

      </tbody>

    </table>
    </div>
  </div>
</div>
<%= paginate @users %>

