<div class="top-image-main">
  <% if flash[:notice] %>
  <div class="alert alert-success">
   <%= flash[:notice]%>
  </div>
  <% end %>

  <%= image_tag "top_image.jpg", class: "top-image"%>
 <h3 class="top-text-first">サウナを巡り、</h3>
 <h3 class="top-text-second">サウナ飯をシェアし、</h3>
 <h3 class="top-text-third">サウナー同士の素敵な交流がありますように</h3>
 <h6 class="top-text-fourth">※「サウナー」とは、サウナ愛好家たちを指す。</h6>
 <h1 class="top-text-main">SaunaRoad</h1>
</div>


<div class="container top-footer">
  <div class="row">
    <div class="col-md-12">
      <div class="sauna-search">
        <%= form_with url: sauna_facilities_path, method: 'get', local: true do |f| %>
          <%= f.text_field :search, placeholder:"サウナ施設名", size: "35" %>
          <%= f.submit '検索', :name => nil, style: "background-color: #FFFF88;", class: "btn" %>
        <% end %>
      </div>
      <hr class="border">
    </div>
  </div>
  <h4 class="main-title">サウナランキング</h4>
  <div class="row">
   <% @sauna_facilities.each do |sauna_facility| %>
         <script>
          $(function(){
          $('#star-score-<%= sauna_facility.id %>').raty({
          size     : 36,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          scoreName: 'review[score]',
          half: true,
          readOnly: true,
          score: <%= sauna_facility.reviews.average('score').to_f.floor(2) %>,
          });
          });
         </script>
   <div class="col-lg-4 col-sm-12 col-md-6">
    <div class="sauna-ranking">
     <div class="sauna-image">
           <%= attachment_image_tag sauna_facility, :image, format: 'jpeg', fallback: "no_image.png", size: "300x250" %>
     </div>
     <div class="sauna-name">
      <%= link_to sauna_facility_path(sauna_facility.id) do %>
       <%= sauna_facility.name %>
      <% end %>
     </div>
     <div class="review-list">
       <span id="star-score-<%= sauna_facility.id %>"></span>
        <%= sauna_facility.reviews.average('score').to_f.floor(2) %>
     </div>
    </div>
   </div>
   <% end %>
  </div>
   <div class="food-continued">
    <%=link_to "続きを見る>>", sauna_facilities_path %>
   </div>
  <hr class="border">
  <h4 class="main-title">今日のサウナ飯</h4>
  <div class="row">
  <% if @post_images.count == 0 %>
    <h5 class="no-post-image">今日の新着投稿はありません</h5>
  <% else %>
   <% @post_images.each do |post_image| %>
    <div class="col-lg-4 col-sm-12 col-md-6">
      <div class="post-image-information">
       <div class="post-image">
        <%= link_to post_image_path(post_image.id) do %>
         <%= attachment_image_tag post_image, :image, format: 'jpeg',size: "300x250" %>
        <% end %>
       </div>
       <div class="post-iamge-text">
        <div class="post-image-user">
         <%= attachment_image_tag post_image.user, :profile_image, format: 'jpeg', fallback: "no_image.png", size: "50x50", class: "icon"  %>
         <%= link_to post_image.user.name, user_path(post_image.user.id) %>
        </div>
        <div class="favorite-comment">
         <div class="favorite">
          <div class="favorite-count">
            <font color="gray">いいね！：<%= post_image.favorites.count %>件</font>
          </div>
          <% if !current_user.nil? then %>
            <% if post_image.favorited_by?(current_user) %>
             <div class="favorite-mark">
               <%= link_to post_image_favorites_path(post_image), method: :delete, style: "color:red" do %>
                <i class="fas fa-heart"></i>
               <% end %>
             </div>
            <% else %>
             <div class="favorite-mark">
               <%= link_to post_image_favorites_path(post_image), method: :post, style: "color:gray" do %>
                <i class="far fa-heart"></i>
               <% end %>
             </div>
            <% end %>
          <% end %>
         </div>
         <div class="comment">
          <div class="comment-count">
           <font color="gray">コメント：<%= post_image.post_comments.count %>件</font>
          </div>
          <div class="comment-mark">
            <%= link_to post_image_path(post_image.id), style: "color:gray" do %>
             <i class="fas fa-comment"></i>
            <% end %>
          </div>
         </div>
        </div>
       </div>
       <div class="post-image-time">
        <%= post_image.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
       </div>
      </div>
    </div>
   <% end %>
  </div>
   <div class="food-continued">
    <%=link_to "続きを見る>>", post_images_path %>
   </div>
  <% end %>
  <hr class="border">
</div>
