<%= render 'sauna_facilities/list', sauna_facility: @sauna_facility %>
 <div class="container review-footer">
   <div class="review-button">
   <%= link_to "口コミを投稿する", new_sauna_facility_review_path(@sauna_facility.id), class: 'btn btn-info'  %>
   </div>
   <h5>全<%= @reviews.count %>件</h5>
    <div class="row">
      <% @reviews.each do |review| %>
      <div class="col-md-8">

       <div class="review-user">
        <%= attachment_image_tag review.user, :profile_image, format: 'jpeg', fallback: "no_image.png", size: "50x50", class: "icon"  %>
        <%= link_to review.user.name, user_path(review.user.id) %>さんの口コミ
       </div>
       <div class="relative-review-score">
         <span id="star-score-<%= review.id %>"></span>
         <script>
          $(function(){
          $('#star-score-<%= review.id %>').raty({
          size     : 36,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
          starHalf: '<%= asset_path('star-half.png') %>',
          scoreName: 'review[score]',
          half: true,
          readOnly: true,
          score: <%= review.score %>,
          });
          });
         </script>
         <%= review.score %></br>

         <h5 class="review-title">
          <%= review.title %>
         </h5>
         <div class="review-caption">
          <%= review.caption %>
         </div>
         <% if review.user == current_user %>
           <div class="review-delete">
            <%= link_to "削除", sauna_facility_review_path(review.id,@sauna_facility.id), method: :delete, class: "btn btn-sm  btn-danger" %></br>
           </div>
          <% end %>
         <%= review.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
       </div>
    </div>

   <% end %>
</div>

