<%= render 'sauna_facilities/list', sauna_facility: @sauna_facility %>

  <div class="container">
    <h4 class="title-new-review">口コミ投稿</h4>
　　<%= form_with model: [@sauna_facility, @review], local:true do |f| %>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <table class="table">
          <tr>
            <th width="130"><%= f.label :タイトル　%></th>
            <td><%= f.text_field :title, size: "40" %></td>
          </tr>
          <tr>
            <th><%= f.label :評価　%></th>
            <td><div class="new-star" id="star">
                 <%= f.hidden_field :score, id: :review_star %>
                </div>
            </td>
          </tr>
    　　　　<tr>
      　　　　<th><%= f.label :口コミ内容 %></th>
      　　　　<td height="200"><%= f.text_area :caption, rows: "6", cols: "40", placeholder:'口コミ内容がなくても、タイトルと評価のみで投稿できます。まずは投稿してみましょう！' %></td>
          </tr>
       </table>

       <div class="text-center">
        <%= f.submit '投稿', class: 'btn btn-success w-50' %>
       </div>
      </div>
    </div>
   <% end %>
  </div>


<script>
  $(function(){
  $('#star').raty({
  size     : 36,
  starOff:  '<%= asset_path('star-off.png') %>',
  starOn : '<%= asset_path('star-on.png') %>',
  starHalf: '<%= asset_path('star-half.png') %>',
  scoreName: 'review[score]',
  half: true,
  });
  });
</script>