<%= render 'sauna_facilities/list' %>
  <div class="container">
   <%= form_with model: [@sauna_facility, @review], local:true do |f| %>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <table class="table">
          <tr>
            <th><%= f.label :タイトル　%></th>
            <td><%= f.text_field :title, size: "40" %></td>
          </tr>
          <tr>
            <th><%= f.label :評価　%></th>
            <td></td>
          </tr>
    　　　　<tr>
      　　　　<th><%= f.label :口コミ内容 %></th>
      　　　　<td><%= f.text_area :caption,  size: "40×100" %></td>
          </tr>
       </table>

       <div class="text-center">
        <%= f.submit '投稿', class: 'btn btn-success' %>
       </div>
      </div>
    </div>
   <% end %>
  </div>

   <%= f.hidden_field :score, id: :review_star %>
<script>
$('#star').raty({
  size     : 36,
  starOff:  '<%= asset_path('star-off.png') %>',
  starOn : '<%= asset_path('star-on.png') %>',
  scoreName: 'review[star]'
});
</script>
